<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${item.id == 0 ? 'Add Car' : 'Edit Car'}"></title>
</head>
<body>
    <h1 th:text="${item.id == 0 ? 'Add Car' : 'Edit Car'}"></h1> <!-- Alt + 39 = ' -->
    <form th:object="${item}" method="post" th:action="@{'/cars/save'}">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{done}">
        <input th:field="*{title}" type="text">
        <textarea th:field="*{description}"></textarea>
        <input type="submit" value="Save">
    </form>
</body>
</html>